*{
    box-sizing: border-box;
   
    
}

.header{
    height: 70px;
    background-color: blue;
}
.explore{
    display: flex;
    justify-content: flex-start;
}
#head1{
    display: flex;
    justify-content: flex-start;
color: wheat;
}
