*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ecf0f3;
    font-family: sans-serif;
    outline: none;
}


*{
    box-sizing: border-box;
    background-color: aliceblue;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;


}


button{
    height: 40px;
    border: 2px solid black;
    border-radius: 30%;
    width: 40px;
}
#outputscreen{
    margin: 10px 10px 10px 10px;
    height: 40px;
    border: none;
}

.yellow{
    background-color: orange;
}
button:hover{
    background-color: blanchedalmond;
}
.items{
    margin-left: 8px;
}

.calculator{
    box-shadow: 5px 10px 18px #888888;
    margin-top: 30px;

    
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}